{% extends "admin-base.html" %} {% load static %}{%load crispy_forms_tags %}
{%load get_attr %} {% load status_class %} {% block main %} {% if object_list %}

<div class="table-container">
  <!-- Table content starts here -->
  <table>
    <thead>
      <tr>
        {% for field in extra.fields %}
        <th>{{field}}</th>
        {% endfor %} {% if not extra.disable_action %}

        <th>Actions</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for object in object_list %}
      <tr>
        {% for field in extra.fields %} {% if field == 'image'%}
        <td>
          <img
            src="https://res.cloudinary.com/dn3jtk7bz/{{object.image}}"
            alt="Image of {{extra.title}}"
            height="100px"
            class="default-border-radius"
          />
        </td>
        {% elif field == 'status' %}
        <td
          class="text-{% status_class object|get_attr:field %} text-uppercase fw-semibold"
        >
          {{object|get_attr:field}}
        </td>

        {% elif field == 'total' %}

        <td class="text-secondary fw-bold">₹{{object.total}}</td>

        {% elif 'id' in field %}
        <td class="text-secondary fw-bold">#{{object.id}}</td>

        {% elif field == 'date' %}
        <td>{{ object.date|date:"M d, Y H:i" }}</td>
        {% else %}

        <td>{{object|get_attr:field}}</td>
        {% endif %} {% endfor %} {% if not extra.disable_action %}
        <td class="dropdown py-1">
          <button
            class="btn btn-white dropdown-toggle p-0 d-flex justify-content-center align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i data-feather="more-vertical" width="20" height="20"></i>
          </button>

          <ul class="dropdown-menu">
            {% if extra.allow_view_detail %}

            <li>
              <a href="./{{object.id}}" class="dropdown-item text-primary"
                ><i data-feather="external-link" width="20" height="20"></i
                >&nbsp; View Detail</a
              >
            </li>
            {% endif %} {% if not extra.not_allow_action %} {%if not extra.disable_update %}
            <li>
              <a
                href="./update/{{object.id}}"
                class="dropdown-item text-success"
                ><i data-feather="edit" width="20" height="20"></i>&nbsp;
                Update</a
              >
            </li>
            {% endif %} 
            {% if not extra.disable_delete %}
            <li>
              <a href="./delete/{{object.id}}" class="dropdown-item text-danger"
                ><i data-feather="trash" width="20" height="20"></i>&nbsp;
                Delete</a
              >
            </li>
            {% endif %} {% endif %}
          </ul>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Table content end here -->

  <!--Pagination starts here -->

  <div class="center mt-4">
    <nav aria-label="...">
      <ul class="pagination mb-4">
        {% if page_obj.has_previous %}

        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}"
            ><i data-feather="arrow-left" width="24" height="24"></i
          ></a>
        </li>
        {% endif %} {% if page_obj.has_next or page_obj.has_previous %}
        <li class="page-item active">
          <span class="page-link text-white">{{page_obj.number}}</span>
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}"
            ><i data-feather="arrow-right" width="24" height="24"></i
          ></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <!--Pagination end here -->
</div>

{% else %}
<div
  class="p-4 mt-6 d-flex justify-content-center flex-column align-items-center gap-3"
>
  <i data-feather="frown" width="64" height="64"></i>
  <h3>No data found</h3>
</div>

{% endif %} {% endblock %}
