{% extends "admin-base.html" %}{%load crispy_forms_tags %} {% block main %}

<div class="center">
  <div class="w-100 border-bottom p-3 admin-search">
    <div class="container row align-items-center mx-auto">
      <p class="text-uppercase mb-0 fs-7 fw-medium col-8">{{object.name}}</p>
      <div class="col-4 d-flex justify-content-end">
        <a
          class="btn btn-primary text-white text-uppercase d-flex justify-content-center align-items-center gap-1"
          href="javascript:history.back()"
        >
          <i data-feather="arrow-left" width="16" height="16"></i>&nbsp;Back
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row p-3 mt-6 gap-4">
      <a
        href="{% url 'admin/list-product-image' product_pk=object.id %}"
        class="col bg-success bg-opacity-25 d-flex align-items-center default-border-radius link-underline link-underline-opacity-0"
      >
        <span
          class="d-inline-block p-2 bg-white m-3 text-success default-border-radius"
        >
          <i data-feather="image" width="32" height="32"></i>
        </span>
        <div class="my-4 mx-2">
          <p class="m-0 fs-5 fw-bold text-secondary">{{extra.image_count}}</p>
          <span class="secondary-body-text">Images</span>
        </div>
      </a>
      <a
        href="{% url 'admin/list-product-spec' product_pk=object.id %}"
        class="col bg-danger bg-opacity-25 d-flex align-items-center default-border-radius link-underline link-underline-opacity-0"
      >
        <span
          class="d-inline-block p-2 bg-white m-3 text-danger default-border-radius"
        >
          <i data-feather="info" width="32" height="32"></i>
        </span>
        <div class="my-4 mx-2">
          <p class="m-0 fs-5 fw-bold text-secondary">{{extra.specs_count}}</p>
          <span class="secondary-body-text">Specs</span>
        </div>
      </a>
      <a
        href="{% url 'admin/list-product-option' product_pk=object.id %}"
        class="col bg-primary bg-opacity-25 d-flex align-items-center default-border-radius link-underline link-underline-opacity-0"
      >
        <span
          class="d-inline-block p-2 bg-white m-3 text-primary default-border-radius"
        >
          <i data-feather="sliders" width="32" height="32"></i>
        </span>
        <div class="my-4 mx-2">
          <p class="m-0 fs-5 fw-bold text-secondary">{{extra.option_count}}</p>
          <span class="secondary-body-text">Options</span>
        </div>
      </a>
      <a
        href="{% url 'admin/list-product-option' product_pk=object.id %}"
        class="col bg-warning bg-opacity-25 d-flex align-items-center default-border-radius link-underline link-underline-opacity-0"
      >
        <span
          class="d-inline-block p-2 bg-white m-3 text-warning default-border-radius"
        >
          <i data-feather="star" width="32" height="32"></i>
        </span>
        <div class="my-4 mx-2">
          <p class="m-0 fs-5 fw-bold text-secondary">{{extra.reviews_count}}</p>
          <span class="secondary-body-text">Reviews</span>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock main %}
