{% extends "admin-base.html" %}{% load static %}{%load crispy_forms_tags %}
{%block main %}

<div class="row px-4 mt-6 gap-4">
  <a
    href="{% url 'admin/list-product-image' product_pk=object.id %}"
    class="col bg-gradient-primary d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="image" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.image_count}}</p>
      <span class="text-white">Images</span>
    </div>
  </a>
  <a
    href="{% url 'admin/list-product-spec' product_pk=object.id %}"
    class="col bg-gradient-danger d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="info" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.specs_count}}</p>
      <span class="text-white">Specs</span>
    </div>
  </a>
  <a
    href="{% url 'admin/list-product-stock' product_pk=object.id %}"
    class="col bg-gradient-success d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="database" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.stock_count}}</p>
      <span class="text-white">Stock</span>
    </div>
  </a>

  {% comment %}
  <a
    href="{% url 'admin/list-product-option' product_pk=object.id %}"
    class="col bg-gradient-success d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="sliders" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.option_count}}</p>
      <span class="text-white">Options</span>
    </div>
  </a>
  {% endcomment %}

  <a
    href="{% url 'admin/dashboard' %}"
    class="col bg-gradient-warning d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="star" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.reviews_count}}</p>
      <span class="text-white">Reviews</span>
    </div>
  </a>
</div>
{% endblock main %}
