{% extends "admin-base.html" %} {% load static %} {% block main %}
<div class="row px-4 mt-6 gap-4">
  <a
    href="{% url 'admin/list-product' %}"
    class="col bg-gradient-success d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="box" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.product_count}}</p>
      <span class="text-white">Products</span>
    </div>
  </a>

  <a
    href="{% url 'admin/list-brand' %}"
    class="col bg-gradient-danger d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="briefcase" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">{{extra.brand_count}}</p>
      <span class="text-white">Brand</span>
    </div>
  </a>

  <a
    href="{% url 'admin/list-category' %}"
    class="col bg-gradient-primary d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="tag" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">
        {{extra.category_count}}
      </p>
      <span class="text-white">Category</span>
    </div>
  </a>

  <a
    href="{% url 'admin/list-spec' %}"
    class="col bg-gradient-warning d-flex align-items-center default-border-radius link-underline link-underline-opacity-0 position-relative py-4"
  >
    <img
      src="{% static 'images/circle.svg' %}"
      class="position-absolute w-50 end-0"
      alt="circle-image"
    />
    <span class="d-inline-block p-2 m-3 text-white default-border-radius">
      <i data-feather="flag" width="48" height="48"></i>
    </span>
    <div class="my-4 mx-2">
      <p class="m-0 fs-5 fw-bold text-white counter">
        {{extra.specification_count}}
      </p>
      <span class="text-white">Specifications</span>
    </div>
  </a>
</div>

{% endblock main %}
