{% extends "base.html" %} {% load static %} {% block main %}

<form method="post" action="{% url 'register' %}" class="auth__form rounded shadow-sm">
  <div class="auth__form-content">
    <div class="text-center">
      <img src="{% static "images/CheckCircle.png" %}" alt="Success Image">
    </div>
    <h5 class="text-center mt-2">Password reset successfully</h5>
    <p class="fw-light text-center fs-7 text-body-secondary">
      Your password has been set. You may go ahead and sign in now.
    </p>

    <div class="text-center">
      <a
        href="/accounts/login"
        class="d-block link-underline link-underline-opacity-0"
        >Sign In</a
      >
    </div>
  </div>
</form>

{% endblock main %}
