{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %}

<form method="post" class="auth__form">
  <div class="auth__form-content">
    <h5 class="text-center">Forget Password</h5>
    <p class="fw-light text-center fs-7 text-body-secondary">
      Enter the email address associated with your account.
    </p>
    {% csrf_token %} {{form|crispy }}

    <button
      class="btn btn-primary text-white text-uppercase text-sm w-100 mt-3"
    >
      Send Code&nbsp;<i data-feather="arrow-right" width="20" height="20"></i>
    </button>
  </div>
</form>

{% endblock main %}
