{% extends "base.html" %} {% load static %} {% block main %}

<form method="post" action="{% url 'register' %}" class="auth__form rounded shadow-sm">
  <div class="auth__form-content">
    <div class="text-center">
      <img src="{% static "images/CheckCircle.png" %}" alt="Success Image">
    </div>
    <h5 class="text-center mt-2">Reset E-mail sent successfully</h5>
    <p class="fw-light text-center fs-7 text-body-secondary">
      You will receive an email with instructions to reset your password
      shortly.
    </p>
  </div>
</form>

{% endblock main %}
