{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %}

<form
  method="post"
  action="{% url 'register' %}"
  class="auth__form register-form"
>
  <ul class="nav nav-underline py-2 row">
    <li class="nav-item text-center col">
      <a href="{% url 'login' %}" class="nav-link">Sign In</a>
    </li>
    <li class="nav-item text-center col">
      <a href="{% url 'register' %}" class="nav-link active">Sign Up</a>
    </li>
  </ul>

  <div class="auth__form-content">
    {% csrf_token %} {{form|crispy }}

    <button
      class="btn btn-primary text-white text-uppercase text-sm w-100 mt-3"
    >
      Sign Up&nbsp;<i data-feather="arrow-right" width="20" height="20"></i>
    </button>
  </div>
</form>

{% endblock main %}
