// GLOBAL

$font-family-base: "Public Sans";

$primary: #047edf;
$secondary: #3e4b5b;
$success: #07cdae;
$info: #12b886;
$danger: #fe7096;
$warning: #9a55ff;
$dark: #3e4b5b;
$light: #f1f3f5;

$body-color: $secondary;

$card-shadow: 0 8px 40px rgba(0, 0, 0, 0.12);

// BUTTON

$btn-border-radius: 3px;
$btn-font-size: 16px;
$btn-font-weight: 500;
$btn-padding-x: 32px;
$btn-padding-y: 10px;
$btn-font-size: 14px;

.btn-outline-primary:hover {
  color: #fff !important;
}

// INPUT
$input-border-radius: 2px;
$input-btn-padding-y: 9px;
$form-label-font-size: 14px;
$form-select-padding-y: 9px;
$form-select-padding-x: 24px;

// NAV

$nav-underline-link-active-color: $primary;
$nav-link-font-size: 18px;
$nav-underline-border-width: 3px;
$nav-link-color: #77878f;

.nav-underline .nav-link.active {
  border-bottom-color: $primary;
  font-weight: 500;
}

.nav-underline .nav-link:hover:not(.active) {
  border-bottom-color: transparent;
}

.navbar .form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

header .nav-link {
  font-size: 14px !important;
}

header select {
  font-size: 14px !important;
}

.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid $primary !important;
}

.nav-tabs .nav-link:hover:not(.active) {
  border-color: transparent !important;
}

.nav-tabs .nav-link {
  border-color: none;
}

// PILLS

$nav-pills-border-radius: 2px;
$nav-link-padding-y: 0.8rem;
$nav-link-padding-x: 1.6rem;
$nav-pills-link-active-color: #fff;

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $nav-pills-link-active-color !important;
}

// Breadcrumb

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#77878F'/></svg>");

.breadcrumb .breadcrumb-item a {
  color: #5f6c72 !important;
}
.breadcrumb .breadcrumb-item.active a {
  color: $primary !important;
}

// MODAL

$modal-inner-padding: 16px 24px;

$modal-content-border-radius: 2px;
$modal-content-border-color: none;
$modal-footer-border-color: transparent;

.modal-footer {
  justify-content: flex-start !important;
  padding: 12px 24px !important;
  margin: 0 !important;
}

// CARD
$card-border-radius: 2px;
$card-box-shadow: $card-shadow;
$card-border-color: transparent;

// ALERTS

$alert-border-radius: 2px;

// DROPDOWN

$dropdown-border-radius: 4px;
$dropdown-item-padding-y: 10px;
$dropdown-border-color: transparent;
$dropdown-divider-bg: #e9ecef;
$caret-width: 0;
.dropdown-menu.show {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12) !important;
}

// PAGINATION

$pagination-color: #191c1f;
$pagination-focus-bg: transparent;

.pagination .page-item {
  margin: 0 8px;
  font-size: 14px;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 100%;
  color: $primary;
}

.pagination .page-item.disabled .page-link {
  color: #adb5bd;
}

.pagination .page-link {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #e4e7e9;
  padding: 10px 0;
}

// RESET

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa !important;
}

main {
  flex: 1;
  margin-bottom: 48px;
}

.admin-body {
  display: block;
  background-color: #f2f8ff !important;
}

ul {
  list-style: none;
}

// UTILS

.cursor-pointer {
  cursor: pointer;
}

.default-border-radius {
  border-radius: 2px;
}

.secondary-body-text {
  color: #475156;
}

.fs-7 {
  font-size: 14px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  font-weight: 600 !important;
}

.my-6 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt-6 {
  margin-top: 40px !important;
}

.mt-8 {
  margin-top: 72px !important;
}

.pb-6 {
  padding-bottom: 40px !important;
}

.p-6 {
  padding: 40px;
}

.bg-light-gray {
  background-color: #f2f4f5;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.bg-gradient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}

.bg-gradient-warning {
  background: linear-gradient(to right, #f6e384, #ffd500) !important;
}

.bg-gradient-secondary {
  background: linear-gradient(89deg, #5e7188, #3e4b5b) !important;
}

.bg-gradient-light {
  background: linear-gradient(to bottom, #f4f4f4, #e4e4e9) !important;
}

// TABLE

.table-container {
  margin-top: 40px;
  align-self: center;
  border-radius: 4px;
  background-color: #fff;
}

.table-container table {
  width: 100%;
}

.table-container thead tr {
  background-color: $primary !important;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid #e4e7e9;
  border-bottom: 1px solid #e4e7e9;
}

.table-container table tr {
  display: flex;
  align-items: center;
}

.table-container table th,
.table-container td {
  flex: 1;
}

.table-container thead tr th {
  padding: 16px 32px;
}

.table-container tbody tr {
  font-size: 14px;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table-container tbody tr td {
  padding: 16px 32px;
  color: #5f6c72;
}

.table-container table .dropdown-toggle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.table-container table .dropdown-toggle:active,
.table-container table .dropdown-toggle.btn.show {
  border-color: transparent !important;
  background-color: #f1f3f5;
}

.table-container table .dropdown-toggle::after {
  display: none !important;
}

.table-container table .dropdown-item:active {
  background-color: transparent !important;
}

// Product Detail Table
.product-detail-table {
  width: 100%;
  max-width: 760px;
}

.product-detail-table tr,
.secondary-table tr {
  display: flex;
  padding: 12px 24px;
  align-items: center;
}

.product-detail-table th,
.secondary-table th,
.product-detail-table td,
.secondary-table tr td {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.secondary-table tr th,
.secondary-table tr td {
  text-align: left;
}

.product-detail-table th,
.secondary-table th {
  font-size: 12px;
}

// CUSTOM ALERT

.custom-alert {
  top: 5%;
  border: 1px solid #f1f1f1;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 9;
  transform: translateX(-50%);
}

.custom-alert-icon {
  width: 36px;
  height: 36px;
}

.custom-alert-icon-success {
  color: $success;
  border: 2px solid $success;
  border-radius: 100%;
  padding: 4px;
}

.custom-alert-icon-error {
  color: $danger;
  border: 2px solid $danger;
  border-radius: 100%;
  padding: 4px;
}

// FORM

.auth__form {
  width: 424px;
  margin-top: 100px;
  background-color: #fff;
}

.auth__form.register-form {
  margin-top: 40px;
}

.auth__form-content {
  padding: 24px 32px;
}

// SERVICE IMAGE

.service-image {
  height: 218px;
  width: 100%;
  object-fit: cover;
}

.product-image {
  object-fit: contain;
}

.star {
  fill: $primary;
  stroke: transparent;
}

.product-detail-checkout {
  margin-top: 54px;
}

.product-detail-image-container {
  display: flex;
  justify-content: center;
  height: 324px;
}

.product-detail-image-container img {
  object-fit: cover;
  height: 100%;
  transform: scale(0.75);
}

.hero__price {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-button {
  cursor: pointer;
  border: 0;
  background-color: $primary;
  color: #fff;
  border-radius: 100%;
}

.swiper-slide {
  margin: 0 !important;
  padding: 0 !important;
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide.active {
  border: 2px solid $primary !important;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
}

.rating-button::after {
  display: none !important;
}

.card-hover {
  transition: 200ms all;
}
.card-hover:hover {
  transform: scale(1.05);
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  border-radius: 12px;
}

@import "bootstrap/scss/bootstrap";
