{% extends "base.html" %} {% load status_class %} {% block main %}

{% if not bookings %}
  <div class="center-x container my-4 bg-white rounded shadow-sm p-5">
     <i data-feather="frown" width="64" height="64"></i>
    <h4 class="mt-2">No Bookings Found!</h4>
    <p class="text-center">
       You haven't made any bookings yet. Schedule your service booking now and secure your spot!
    </p>
  </div>

{% else %}

<div class="container my-4 bg-white rounded shadow-sm py-4 px-5">
  <h5 class="text-uppercase my-4">Booking History</h5>

  <table class="w-100 secondary-table">
    <thead>
      <tr class="bg-light text-uppercase w-100">
        <th>Booking ID</th>
        <th>Status</th>
        <th>Booking Date</th>
        <th>Cost</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr class="text-uppercase w-100">
        <td>#{{booking.id}}</td>
        <td
          class="text-{% status_class booking.status %} text-uppercase fw-semibold"
        >
          {{booking.status}}
        </td>
        <td>{{booking.booking_date}}</td>
        <td class="text-secondary fw-bold">₹{{booking.cost}}</td>
        <td>
          <a href="./{{booking.id}}" class="dropdown-item text-primary">
            View Detail&nbsp;
            <i data-feather="arrow-right" width="20" height="20"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% endblock main %}
