{% extends "base.html" %} {% block main %}

<div class="container mt-6 container my-4 bg-white rounded shadow-sm p-5">
  <div
    class="bg-primary p-4 rounded d-flex align-items-center justify-content-between"
  >
    <div>
      <p class="my-0 fs-3 text-white">#{{object.id}}</p>
      <p class="my-0 text-white">
        <span>{{object.service.name}}</span>&nbsp;&ndash;&nbsp;
        <span>Service booked on {{object.booking_date|date:"M d, Y"}}</span>
      </p>
    </div>
    <div>
      <p class="fs-2 text-white my-0">₹{{object.cost}}</p>
    </div>
  </div>

  {% if object.scheduled_date %}
    <span class="p-2 d-block">Service scheduled date {{object.scheduled_date|date:"M d, Y"}}</span>
  {% else %}
    <span class="p-2 d-block">Service is not scheduled yet!</span>
  {% endif %}
  
  <div class="card p-4 my-3 border rounded">
    <div>
      <h5>Service Address</h5>
      <h6 class="mt-4">{{object.user.fullname}}</h6>
      <p class="my-2">
       {{user.address.address_line}},<br />
       {{user.address.city}} - {{user.address.pincode}}<br />
       {{user.address.state}}<br />
      </p>

      <p class="my-2">Phone: {{object.user.phone}}</p>
      <p class="my-2">Email: {{object.user.email}}</p>
    </div>
  </div>

    {% if object.staff %}
      <div>
        <h5>Staff Assigned</h5>
        <h6 class="mt-4">{{object.staff.fullname}}</h6>
        <p class="my-2">Phone: {{object.staff.phone}}</p>
        <p class="my-2">Email: {{object.staff.email}}</p>
      </div>
    {% else %}
      <div>
        <h5 class="text-danger">No Staff Assigned</h5>
      </div>
    {% endif %}

</div>


{% endblock main %}
