{% extends "base.html" %} {% load crispy_forms_tags %}

{% block main %}
    <div class="container gap-4 my-4 bg-white rounded shadow-sm p-5">
        <div class="row">
            <div class="col-8">
                <h2>{{object.name}}</h2>
                <p class="w-75">{{object.description}}</p>

                <table class="product-detail-table">
                    <thead>
                        <tr class="bg-light">
                            <th>Description</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cost in object.costs.all %}
                        <tr>
                            <td>{{cost.description}}</td>
                            <td>{{cost.estimated_cost}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
             
            </div>
            <div class="col-4">
                <form action="{% url 'add-quote' %}" class="bg-primary bg-opacity-10 p-6 card" method="POST">
                    {% csrf_token %}
                    <h4 class="text-center">Get a Quote</h4>
                    <input type="hidden" name="service_id" value={{object.id}}>
                    {{form|crispy}}
                    <button class="btn btn-primary text-uppercase text-white mt-4">GET QUOTE</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}