// DROPDOWN

$dropdown-border-radius: 4px;
$dropdown-item-padding-y: 10px;
$dropdown-border-color: transparent;
$dropdown-divider-bg: #e9ecef;
.dropdown-menu.show {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12) !important;
}
