@use "./variables";

// NAV
$nav-underline-link-active-color: #191c1f;
$nav-link-font-size: 18px;
$nav-underline-border-width: 3px;
$nav-link-color: #77878f;

.nav-underline .nav-link.active {
  border-bottom-color: variables.$primary;
  font-weight: 500;
}

.nav-underline .nav-link:hover:not(.active) {
  border-bottom-color: transparent;
}

.navbar .form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}
