.default-border-radius {
  border-radius: 2px;
}

.secondary-body-text {
  color: #475156;
}

.fs-7 {
  font-size: 14px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-6 {
  margin-top: 40px !important;
}
