// GLOABAL VARIABLES

$font-family-base: "Public Sans";
$primary: #00a3d4;
$secondary: #2f4858;
$body-color: #191c1f;
$success: #bcd800;
$info: #f06c9b;

$card-shadow: 0 8px 40px rgba(0, 0, 0, 0.12);
