{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %} 

    <div class="container mt-4 bg-white rounded shadow-sm p-5">
        <div class="row gap-4 justify-content-between align-items-start">
            <div class="col-8  p-4">
                <h4>Shipping Information</h4>
                <form class="mt-4" method="post">
                    {% csrf_token %}
                   {{checkout_form.fullname|as_crispy_field }}
                   {{address_form.address_line|as_crispy_field }}
                   <div class="row row-cols-3">
                    {{address_form.pincode|as_crispy_field }}
                    {{address_form.city|as_crispy_field }}
                    {{address_form.state|as_crispy_field }}
                   </div>

                   <div class="row row-cols-2">
                        {{checkout_form.email|as_crispy_field }}
                        {{checkout_form.phone|as_crispy_field }}
                   </div>

                   <div class="my-4 d-flex justify-content-between">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="payment_mode" id="cod" value="cod" required>
                            <label class="form-check-label" for="cod">
                                Cash on Delivery
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment_mode" id="card" value="card" required>
                            <label class="form-check-label" for="card">
                                Debit/Credit Card
                            </label>
                        </div>
                   </div>

                    <button class="btn btn-primary text-uppercase text-white mt-2 w-100">
                        Proceed to Checkout&nbsp;<i data-feather="arrow-right"></i></button>
                    </button>
                </form>
            </div>
            <div class="col-3 card p-4 bg-primary bg-opacity-10">
                <h4 class="mb-4">Order Summary</h4>
                
                {% if product %}
                    <div>
                        <img src="{{product.image}}" alt="Image of {{product.name}}" width="48px" height="48px">
                            <div>
                                <p class="m-0 fs-7">{{product.name}}</p>
                                <p class="mt-1">
                                    <span>1&nbsp;</span>
                                    <i data-feather="x" width="16px" height="16px"></i>
                                    <span class="text-primary">₹{{item.price}}</span>
                                </p>
                            </div>
                    </div>
                {% endif %}


                {% if cart_items %}
                    <ul class="p-0">
                        {% for item in cart_items %}
                        <li class="d-flex gap-4">
                                <img src="{{item.product.image}}" alt="Image of {{item.product.name}}" width="48px" height="48px">
                                <div>
                                    <p class="m-0">{{item.product.name}}</p>
                                    <p>
                                        <span>{{item.quantity}}&nbsp;</span>
                                        <i data-feather="x" width="16px" height="16px"></i>
                                        <span class="text-primary">₹{{item.product.price}}</span>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <p class="d-flex justify-content-between">
                    <span>Sub Totol</span>
                    <span>₹{{subtotal}}</span>
                </p>
                <p class="d-flex justify-content-between">
                    <span>Shipping</span>
                    {% if delivery_charge == 0 %}
                        <span>Free</span>
                    {% else %}
                        <span>₹{{delivery_charge}}</span>
                    {% endif %}
                </p>
                <hr>
                 <p class="d-flex justify-content-between fw-bold">
                    <span>Total</span>
                    <span>₹{{total}}</span>
                </p>
            </div>
        </div>
    </div>

{% endblock main %}
