{% extends "base.html" %} 
{% load static %} 
{% block main %}

<div class="container mt-6 my-4 bg-white rounded shadow-sm py-4 px-5">
  <div class="mt-6 py-4">
    <div class="text-center">
      <img src="{% static 'images/CheckCircle.png' %}" alt="Success Image" width="100">
    </div>
    <h5 class="text-center mt-2">Warranty Claim Submitted Successfully! 🎉</h5>
    <p class="fw-light text-center fs-7 text-body-secondary">
      Your warranty claim has been received. Our team will review your request and contact you shortly.
    </p>

    <div class="d-flex gap-4 justify-content-center mt-6">
      <a
        href="{% url 'home' %}" 
        class="btn btn-outline-primary text-uppercase link-underline link-underline-opacity-0 d-flex gap-2 align-items-center"
      >
        <i data-feather="home" width="24"></i>Go to home
      </a>
      <a
        href="{% url 'warranty_claim_history' %}"
        class="btn btn-primary text-white text-uppercase link-underline link-underline-opacity-0 d-flex gap-2 align-items-center"
      >
        View Claims <i data-feather="arrow-right"></i>
      </a>
    </div>
  </div>
</div>

{% endblock main %}
