{% extends "base.html" %} {% block main %}

<div class="container mt-6">
  <div
    class="bg-light p-4 default-border-radius d-flex align-items-center justify-content-between w-100"
  >
    <div>
      <p class="my-0 fs-3">#{{object.id}}</p>
      <p class="my-0">
        <span>2 Products</span>&nbsp;&ndash;&nbsp;
        <span>Order Placed on {{object.date|date:"M d, Y H:i"}}</span>
      </p>
    </div>
    <div>
      <p class="fs-2 my-0">₹{{object.total}}</p>
    </div>
  </div>

  <div class="row align-items-start mt-4">
    <div class="mt-4 col-8">
      <table class="product-detail-table">
        <thead>
          <tr class="bg-light">
            <th>PRODUCT</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>SUB TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object.items.all %}
          <tr>
            <td>
              <img
                src="{{item.product.image}}"
                alt="Image of {{extra.title}}"
                height="80px"
                class="default-border-radius"
              />
            </td>
            <td>{{item.product.name}}</td>
            <td>₹{{item.product.price}}</td>
            <td>₹{{item.subtotal}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="border p-4 mt-4 col-4">
      <div>
        <h5>Billing Address</h5>
        <h5 class="mt-4">{{object.user.fullname}}</h5>
        <p class="my-2">
          {{user.address.address_line}},<br />
          {{user.address.city}} - {{user.address.pincode}}<br />
          {{user.address.state}}<br />
        </p>

        <p class="my-2">Phone: {{object.user.phone}}</p>
        <p class="my-2">Email: {{object.user.email}}</p>
      </div>
    </div>
  </div>


  {% if object.status != 'canceled' and  object.status != 'delivered' %}
    <div class="mt-6">
      <button class="btn btn-danger text-uppercase text-white" data-bs-toggle="modal" data-bs-target="#orderCancelModal">Cancel Order</button>
    </div>
  {% endif %}

  <div class="modal fade" id="orderCancelModal" tabindex="-1" aria-labelledby="orderCancelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h1 class="modal-title fs-6 text-uppercase" id="orderCancelModalLabel">Confirm Order Cancellation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel this order? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'cancel-order' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="order_id" value={{object.id}}>
          <button type="submit" class="btn btn-danger text-uppercase text-white">Cancel order</button>
        </form>
      </div>
    </div>
  </div>
</div>

  {% if object.status == 'delivered' %}
    <div class="mt-6">
      <button class="btn btn-success text-uppercase text-white" data-bs-toggle="modal" data-bs-target="#reviewModal">Leave a Review</button>
    </div>
  {% endif %}


  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h3 class="modal-title fs-6" id="reviewModalLabel">REVIEW</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
            <label class="form-label">Rating</label>
          <div class="dropdown">
            <button class="btn border dropdown-toggle w-100 d-flex justify-content-between rating-button align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="d-flex gap-2 align-items-center">Select Rating</span> 
              <i data-feather="chevron-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item d-flex gap-4 justify-content-between rating-option" href="#" data-rating="1">
                <i data-feather="star" class="star"></i>
                1 Star Rating</a>
              </li>
              <li><a class="dropdown-item d-flex gap-4 justify-content-between rating-option" href="#" data-rating="2">
                <div>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                </div>
                2 Star Rating</a>
              </li>
              <li><a class="dropdown-item d-flex gap-4 justify-content-between rating-option" href="#" data-rating="3">
                <div>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                </div>
                3 Star Rating</a>
              </li>
              <li><a class="dropdown-item d-flex gap-4 justify-content-between rating-option" href="#" data-rating="4">
                <div>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                </div>
                4 Star Rating</a>
              </li>
              <li><a class="dropdown-item d-flex gap-4 justify-content-between rating-option" href="#" data-rating="5">
                <div>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                  <i data-feather="star" class="star"></i>
                </div>
                5 Star Rating</a>
              </li>
              
            </ul>
          </div>
          
          <input type="hidden" name="rating" class="rating-input">

          <div class="my-3">
            <label for="review-feedback" class="form-label">Feedback</label>
            <textarea class="form-control" id="review-feedback" rows="5" placeholder="Write down your feedback about our product"></textarea>
          </div>

          <div class="py-3 d-flex gap-2">
            <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success text-uppercase text-white">Publish Review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock main %}
