{% extends "base.html" %} {% load times %} {% block main %}

<div class="container my-6">
  <div class="row row-cols-2">
    <div>
      <div
        class="product-detail-image-container border default-border-radius mb-4"
      >
        <img
          src="{{object.image}}"
          alt="Image of {{object.name}}"
          id="product-image-main"
        />
      </div>

      <div class="swiper other-images">
        <div class="swiper-wrapper d-flex gap-2">
          {% for image in object.images.all %}
          <div
            class="swiper-slide border default-border-radius p-2 cursor-pointer"
          >
            <img
              src="https://res.cloudinary.com/dn3jtk7bz/{{image.image}}"
              alt="Image of {{object.name}}"
              width="80"
              height="80"
              class="product-images"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="product-info mt-3">
      <div class="reviews mb-2">
        {% for _ in object.rating.rating|times %}
        <i data-feather="star" class="star"></i>
        {% endfor %} {% for _ in object.rating.remain|times %}
        <i data-feather="star"></i>
        {% endfor %}
        <span class="fs-6 fw-bold ms-1">({{object.rating.count}})</span>
      </div>
      <h5>{{object.name}}</h5>
      <p class="d-flex justify-content-between w-75 mt-3">
        <span>Brand: {{object.brand}}</span>
        <span>Category: {{object.category}}</span>
      </p>
      <p>
        <span>Availability:</span>
        {% if object.available_stock > 5 %}
        <span class="text-success fw-semibold">In Stock</span>
        {% elif object.available_stock > 0 and object.available_stock < 5 %}
        <span class="text-warning fw-semibold"
          >Only {{object.available_stock}} stock left</span
        >
        {% else %}
        <span class="text-danger fw-semibold">Out of Stock</span>
        {% endif %}
      </p>

      {% if object.available_stock != 0 %}
      <h4 class="text-primary fw-bold mt-4">₹{{object.price}}</h4>

      <div class="d-flex gap-4 product-detail-checkout">
        <form
          action="{% url 'add-to-cart'%}"
          method="post"
          class="d-flex gap-4"
        >
          {% csrf_token %} {% if object.available_stock > 5 %}
          <input
            type="number"
            class="form-control w-25 ps-4"
            min="1"
            max="5"
            value="1"
            name="quantity"
          />
          {% else %}
          <input
            type="number"
            class="form-control w-25 ps-4"
            min="1"
            max="{{object.available_stock}}"
            value="1"
            name="quantity"
          />
          {% endif %}
          <button class="btn btn-primary text-uppercase text-white flex-fill">
            Add to cart &nbsp;<i data-feather="shopping-cart"></i>
          </button>
          <input type="hidden" name="product_id" value="{{object.id}}" />
        </form>
        <form method="get" action="{% url 'checkout' %}">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{object.id}}" />
          <button class="btn btn-outline-primary text-uppercase border-2">
            Buy Now
          </button>
        </form>
      </div>

      {% else %}
      <h4 class="fw-semibold mt-4">
        Sorry, this item is currently unavailable. <br />
        Please check back later or explore similar products.
      </h4>
      {% endif %}
    </div>
  </div>

  <div class="mt-6">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active text-uppercase fs-6"
          id="description-tab"
          data-bs-toggle="tab"
          data-bs-target="#description-tab-pane"
          type="button"
          role="tab"
          aria-controls="description-tab-pane"
          aria-selected="true"
        >
          Description
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link text-uppercase fs-6"
          id="spec-tab"
          data-bs-toggle="tab"
          data-bs-target="#spec-tab-pane"
          type="button"
          role="tab"
          aria-controls="spec-tab-pane"
          aria-selected="false"
        >
          Specification
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link text-uppercase fs-6"
          id="review-tab"
          data-bs-toggle="tab"
          data-bs-target="#review-tab-pane"
          type="button"
          role="tab"
          aria-controls="review-tab-pane"
          aria-selected="false"
        >
          Reviews
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active p-4"
        id="description-tab-pane"
        role="tabpanel"
        aria-labelledby="description-tab"
        tabindex="0"
      >
        {{object.description}}
      </div>
      <div
        class="tab-pane fade p-4"
        id="spec-tab-pane"
        role="tabpanel"
        aria-labelledby="spec-tab"
        tabindex="0"
      >
        <table class="table w-25">
          {% for spec in object.specs.all %}
          <tr>
            <td>{{spec.specification}}</td>
            <td>{{spec.value}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div
        class="tab-pane fade p-4"
        id="review-tab-pane"
        role="tabpanel"
        aria-labelledby="review-tab"
        tabindex="0"
      >

      {% if not object.reviews.all %}
        <p>No reviews for this product</p>
      {% endif %}

        {% for review in object.reviews.all %}
            <div class="card mb-3 p-3 border">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  {% if review.user.profile_image %}
                    <img src="{{ review.user.profile_image.url }}" alt="Profile Image" class="rounded-circle me-2" width="40" height="40">
                  {% else %}
                    <i data-feather="user" class="me-2 text-secondary" width="32" height="32"></i>
                  {% endif %}
                  <h5 class="mb-0">{{ review.user.fullname }}</h5>
                </div>

                <div class="reviews mb-2">
                    {% for _ in review.rating|times %}
                        <i data-feather="star" class="star"></i>
                        {% endfor %}
                        {% for _ in review.remain|times  %}
                        <i data-feather="star"></i>
                    {% endfor %}
                </div>

                <p class="text-muted">{{ review.feedback }}</p>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock main %}
