{% load static %} {% load active_link %}{% load active_link_exact %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contractor Enterprise IT Solutions - Admin</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"
    type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static "index.css" %}">
  </head>
  <body>
    <main class="d-flex flex-nowrap" style="height: 100dvh">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-gradient-secondary border-end h-100"
        style="width: 280px"
      >
        <a href="{% url 'admin/dashboard' %}" class="center-x">
          <img src="{% static "images/logo.svg" %}" alt="Brand Logo"
          width="150"></a
        >

        <span class="d-block border-bottom my-4"></span>

        <ul class="nav nav-pills flex-column mb-auto gap-2">
          <li class="nav-item">
            <a
              href="{% url 'admin/dashboard' %}"
              class="nav-link text-white {% active_link_exact 'admin/dashboard' %} {% active_link_exact 'admin/list-customer' %} {% active_link 'admin/staff' %} {% active_link 'orders' %} {% active_link_exact 'admin/list-payment' %}"
              aria-current="page"
            >
              <i data-feather="home" width="20" class="me-2"></i> Home
            </a>
          </li>
          <li>
            <a
              class="nav-link text-white {% active_link 'shop' %}"
              href="{% url 'admin/shop-overview' %}"
            >
              <i data-feather="shopping-bag" width="20" class="me-2"></i>
              Shop
            </a>
          </li>
          <li>
            <a
              href="{% url 'admin/services-overview' %}"
              class="nav-link text-white {% active_link 'services' %}"
            >
              <i data-feather="table" width="20" class="me-2"></i>
              Services
            </a>
          </li>
          <li>
            <a
              href="{% url 'admin/settings' %}"
              class="nav-link text-white {% active_link 'settings' %}"
            >
              <i data-feather="settings" width="20" class="me-2"></i>
              Settings
            </a>
          </li>
        </ul>

        <span class="d-block border-bottom my-4"></span>

        <p class="text-center text-white fs-7">
          &copy; {% now "Y" %} Contractor Enterprise IT Solutions.
        </p>
      </div>

      <div class="flex-fill h-100 overflow-auto pb-6">
        <div class="center bg-white border-bottom admin-header">
          <div class="w-100 p-3 admin-search">
            <div class="container row align-items-center mx-auto">
              <p class="text-uppercase mb-0 fs-6 fw-semibold col-6">
                {{extra.title}}
              </p>
              <div
                class="col-6 d-flex justify-content-end gap-4 align-items-center"
              >
                {% if not extra.disable_create %}
                <a
                  href="./create"
                  class="btn btn-primary text-uppercase text-white d-flex align-items-center"
                >
                  Add New&nbsp;<i data-feather="plus" width="20"></i>
                </a>
                {% endif %}

                <div class="dropdown">
                  <a
                    href="#"
                    class="d-flex align-items-center text-body text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {% if user.profile_image %}
                    <img
                      src="/media/{{user.profile_image}}"
                      alt=""
                      width="42"
                      height="42"
                      class="rounded-circle me-2"
                    />
                    {% else %}
                    <img
                      src="{% static 'images/user.png' %}"
                      alt=""
                      width="42"
                      height="42"
                      class="rounded-circle me-2"
                    />
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu text-small shadow">
                    <li>
                      <a
                        class="dropdown-item"
                        href="{% url 'password_change' %}"
                      >
                        <i data-feather="key" width="20" height="20"></i>&nbsp;
                        Change Password</a
                      >
                    </li>
                    <li>
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                          <i data-feather="log-out" width="20" height="20"></i
                          >&nbsp; Log out
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if not breadcrumbs|length == 1 %}

        <div class="bg-white">
          <div class="container p-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                {% for breadcrumb in breadcrumbs %}
                <li
                  class="breadcrumb-item {% if breadcrumb.active %}active{% endif %}"
                >
                  <a
                    href="{{breadcrumb.url}}"
                    class="fs-7 link-underline link-underline-opacity-0"
                    >{{breadcrumb.name}}</a
                  >
                </li>
                {% endfor %}
              </ol>
            </nav>
          </div>
        </div>
        {% endif %}
        <div class="container">{% block main %}{% endblock %}</div>
      </div>
    </main>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
